absl-py==2.3.0 ; python_version >= "3.10" and python_version < "3.12"
aiohappyeyeballs==2.6.1 ; python_version >= "3.10" and python_version < "3.12"
aiohttp==3.12.9 ; python_version >= "3.10" and python_version < "3.12"
aiosignal==1.3.2 ; python_version >= "3.10" and python_version < "3.12"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.12"
anyascii==0.3.2 ; python_version >= "3.10" and python_version < "3.12"
async-timeout==5.0.1 ; python_version == "3.10"
attrs==25.3.0 ; python_version >= "3.10" and python_version < "3.12"
audioread==3.0.1 ; python_version >= "3.10" and python_version < "3.12"
babel==2.17.0 ; python_version >= "3.10" and python_version < "3.12"
bangla==0.0.5 ; python_version >= "3.10" and python_version < "3.12"
blinker==1.9.0 ; python_version >= "3.10" and python_version < "3.12"
blis==1.2.1 ; python_version >= "3.10" and python_version < "3.12"
bnnumerizer==0.0.2 ; python_version >= "3.10" and python_version < "3.12"
bnunicodenormalizer==0.1.7 ; python_version >= "3.10" and python_version < "3.12"
catalogue==2.0.10 ; python_version >= "3.10" and python_version < "3.12"
certifi==2025.4.26 ; python_version >= "3.10"
cffi==1.17.1 ; python_version >= "3.10"
charset-normalizer==3.4.2 ; python_version >= "3.10"
click==8.2.1 ; python_version >= "3.10" and python_version < "3.12"
cloudpathlib==0.21.1 ; python_version >= "3.10" and python_version < "3.12"
colorama==0.4.6 ; sys_platform == "win32" and python_version >= "3.10" and python_version < "3.12" or platform_system == "Windows" and python_version >= "3.10"
confection==0.1.5 ; python_version >= "3.10" and python_version < "3.12"
contourpy==1.2.1 ; python_version == "3.10"
contourpy==1.3.2 ; python_version > "3.10" and python_version < "3.12"
coqpit==0.0.17 ; python_version >= "3.10" and python_version < "3.12"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "3.12"
cymem==2.0.11 ; python_version >= "3.10" and python_version < "3.12"
cython==3.1.1 ; python_version >= "3.10" and python_version < "3.12"
dateparser==1.1.8 ; python_version >= "3.10" and python_version < "3.12"
decorator==5.2.1 ; python_version >= "3.10" and python_version < "3.12"
docopt==0.6.2 ; python_version >= "3.10" and python_version < "3.12"
einops==0.8.1 ; python_version >= "3.10" and python_version < "3.12"
encodec==0.1.1 ; python_version >= "3.10" and python_version < "3.12"
filelock==3.18.0 ; python_version >= "3.10"
flask==3.1.1 ; python_version >= "3.10" and python_version < "3.12"
fonttools==4.58.1 ; python_version >= "3.10" and python_version < "3.12"
frozenlist==1.6.2 ; python_version >= "3.10" and python_version < "3.12"
fsspec==2025.5.1 ; python_version >= "3.10"
g2pkk==0.1.2 ; python_version >= "3.10" and python_version < "3.12"
grpcio==1.72.1 ; python_version >= "3.10" and python_version < "3.12"
gruut-ipa==0.13.0 ; python_version >= "3.10" and python_version < "3.12"
gruut-lang-de==2.0.1 ; python_version >= "3.10" and python_version < "3.12"
gruut-lang-en==2.0.1 ; python_version >= "3.10" and python_version < "3.12"
gruut-lang-es==2.0.1 ; python_version >= "3.10" and python_version < "3.12"
gruut-lang-fr==2.0.2 ; python_version >= "3.10" and python_version < "3.12"
gruut==2.2.3 ; python_version >= "3.10" and python_version < "3.12"
hangul-romanize==0.1.0 ; python_version >= "3.10" and python_version < "3.12"
hf-xet==1.1.2 ; python_version >= "3.10" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "arm64" or platform_machine == "aarch64")
huggingface-hub==0.32.4 ; python_version >= "3.10"
idna==3.10 ; python_version >= "3.10"
inflect==7.5.0 ; python_version >= "3.10" and python_version < "3.12"
itsdangerous==2.2.0 ; python_version >= "3.10" and python_version < "3.12"
jamo==0.4.1 ; python_version >= "3.10" and python_version < "3.12"
jieba==0.42.1 ; python_version >= "3.10" and python_version < "3.12"
jinja2==3.1.6 ; python_version >= "3.10"
joblib==1.5.1 ; python_version >= "3.10" and python_version < "3.12"
jsonlines==1.2.0 ; python_version >= "3.10" and python_version < "3.12"
kiwisolver==1.4.8 ; python_version >= "3.10" and python_version < "3.12"
langcodes==3.5.0 ; python_version >= "3.10" and python_version < "3.12"
language-data==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
lazy-loader==0.4 ; python_version >= "3.10" and python_version < "3.12"
librosa==0.10.0 ; python_version == "3.10"
librosa==0.11.0 ; python_version > "3.10" and python_version < "3.12"
llvmlite==0.43.0 ; python_version == "3.10"
llvmlite==0.44.0 ; python_version > "3.10"
marisa-trie==1.2.1 ; python_version >= "3.10" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "3.12"
markdown==3.8 ; python_version >= "3.10" and python_version < "3.12"
markupsafe==3.0.2 ; python_version >= "3.10"
matplotlib==3.10.3 ; python_version > "3.10" and python_version < "3.12"
matplotlib==3.8.4 ; python_version == "3.10"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.12"
more-itertools==10.7.0 ; python_version >= "3.10"
mpmath==1.3.0 ; python_version >= "3.10"
msgpack==1.1.0 ; python_version >= "3.10" and python_version < "3.12"
multidict==6.4.4 ; python_version >= "3.10" and python_version < "3.12"
murmurhash==1.0.13 ; python_version >= "3.10" and python_version < "3.12"
networkx==2.8.8 ; python_version >= "3.10"
nltk==3.9.1 ; python_version >= "3.10" and python_version < "3.12"
num2words==0.5.14 ; python_version >= "3.10" and python_version < "3.12"
numba==0.60.0 ; python_version == "3.10"
numba==0.61.2 ; python_version > "3.10"
numpy==1.22.0 ; python_version == "3.10"
numpy==1.26.4 ; python_version > "3.10"
nvidia-cublas-cu12==12.6.4.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10"
nvidia-cuda-cupti-cu12==12.6.80 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10"
nvidia-cuda-nvrtc-cu12==12.6.77 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10"
nvidia-cuda-runtime-cu12==12.6.77 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10"
nvidia-cudnn-cu12==9.5.1.17 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10"
nvidia-cufft-cu12==11.3.0.4 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10"
nvidia-cufile-cu12==1.11.1.6 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10"
nvidia-curand-cu12==10.3.7.77 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10"
nvidia-cusolver-cu12==11.7.1.2 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10"
nvidia-cusparse-cu12==12.5.4.2 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10"
nvidia-cusparselt-cu12==0.6.3 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10"
nvidia-nccl-cu12==2.26.2 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10"
nvidia-nvjitlink-cu12==12.6.85 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10"
nvidia-nvtx-cu12==12.6.77 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10"
openai-whisper==20240930 ; python_version >= "3.10"
packaging==25.0 ; python_version >= "3.10"
pandas==1.5.3 ; python_version >= "3.10" and python_version < "3.12"
pillow==11.2.1 ; python_version >= "3.10" and python_version < "3.12"
platformdirs==4.3.8 ; python_version >= "3.10" and python_version < "3.12"
pooch==1.8.2 ; python_version >= "3.10" and python_version < "3.12"
preshed==3.0.10 ; python_version >= "3.10" and python_version < "3.12"
propcache==0.3.1 ; python_version >= "3.10" and python_version < "3.12"
protobuf==6.31.1 ; python_version >= "3.10" and python_version < "3.12"
psutil==7.0.0 ; python_version >= "3.10" and python_version < "3.12"
pycparser==2.22 ; python_version >= "3.10"
pydantic-core==2.33.2 ; python_version >= "3.10" and python_version < "3.12"
pydantic==2.11.5 ; python_version >= "3.10" and python_version < "3.12"
pygments==2.19.1 ; python_version >= "3.10" and python_version < "3.12"
pynndescent==0.5.13 ; python_version >= "3.10" and python_version < "3.12"
pyparsing==3.2.3 ; python_version >= "3.10" and python_version < "3.12"
pypinyin==0.54.0 ; python_version >= "3.10" and python_version < "3.12"
pysbd==0.3.4 ; python_version >= "3.10" and python_version < "3.12"
python-crfsuite==0.9.11 ; python_version >= "3.10" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.12"
pytz==2025.2 ; python_version >= "3.10" and python_version < "3.12"
pyyaml==6.0.2 ; python_version >= "3.10"
regex==2024.11.6 ; python_version >= "3.10"
requests==2.32.3 ; python_version >= "3.10"
rich==14.0.0 ; python_version >= "3.10" and python_version < "3.12"
safetensors==0.5.3 ; python_version >= "3.10"
scikit-learn==1.7.0 ; python_version >= "3.10" and python_version < "3.12"
scipy==1.11.4 ; python_version == "3.10"
scipy==1.15.3 ; python_version > "3.10" and python_version < "3.12"
setuptools==80.9.0 ; python_version >= "3.10"
shellingham==1.5.4 ; python_version >= "3.10" and python_version < "3.12"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.12"
smart-open==7.1.0 ; python_version >= "3.10" and python_version < "3.12"
sounddevice==0.5.2 ; python_version >= "3.10"
soundfile==0.13.1 ; python_version >= "3.10" and python_version < "3.12"
soxr==0.5.0.post1 ; python_version >= "3.10" and python_version < "3.12"
spacy-legacy==3.0.12 ; python_version >= "3.10" and python_version < "3.12"
spacy-loggers==1.0.5 ; python_version >= "3.10" and python_version < "3.12"
spacy==3.8.7 ; python_version >= "3.10" and python_version < "3.12"
srsly==2.5.1 ; python_version >= "3.10" and python_version < "3.12"
sudachidict-core==20250515 ; python_version >= "3.10" and python_version < "3.12"
sudachipy==0.6.10 ; python_version >= "3.10" and python_version < "3.12"
sympy==1.14.0 ; python_version >= "3.10"
tensorboard-data-server==0.7.2 ; python_version >= "3.10" and python_version < "3.12"
tensorboard==2.19.0 ; python_version >= "3.10" and python_version < "3.12"
thinc==8.3.4 ; python_version >= "3.10" and python_version < "3.12"
threadpoolctl==3.6.0 ; python_version >= "3.10" and python_version < "3.12"
tiktoken==0.9.0 ; python_version >= "3.10"
tokenizers==0.21.1 ; python_version >= "3.10"
torch==2.7.0 ; python_version >= "3.10"
torchaudio==2.7.0 ; python_version >= "3.10" and python_version < "3.12"
tqdm==4.67.1 ; python_version >= "3.10"
trainer==0.0.36 ; python_version >= "3.10" and python_version < "3.12"
transformers==4.52.4 ; python_version >= "3.10"
triton==3.3.0 ; (platform_machine == "x86_64" or sys_platform == "linux2") and python_version >= "3.10" and (platform_system == "Linux" or sys_platform == "linux" or sys_platform == "linux2")
tts==0.22.0 ; python_version >= "3.10" and python_version < "3.12"
typeguard==4.4.3 ; python_version >= "3.10" and python_version < "3.12"
typer==0.16.0 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.14.0 ; python_version >= "3.10"
typing-inspection==0.4.1 ; python_version >= "3.10" and python_version < "3.12"
tzdata==2025.2 ; python_version < "3.12" and platform_system == "Windows" and python_version >= "3.10"
tzlocal==5.3.1 ; python_version >= "3.10" and python_version < "3.12"
umap-learn==0.5.7 ; python_version >= "3.10" and python_version < "3.12"
unidecode==1.4.0 ; python_version >= "3.10" and python_version < "3.12"
urllib3==2.4.0 ; python_version >= "3.10"
wasabi==1.1.3 ; python_version >= "3.10" and python_version < "3.12"
weasel==0.4.1 ; python_version >= "3.10" and python_version < "3.12"
werkzeug==3.1.3 ; python_version >= "3.10" and python_version < "3.12"
wrapt==1.17.2 ; python_version >= "3.10" and python_version < "3.12"
yarl==1.20.0 ; python_version >= "3.10" and python_version < "3.12"
